:root {
    --yellowColor: #FFCC4A;
    --greenColor: #4EAF4E;
    --black: #181818;
    --whiteColor: #FFFFFF;
    --whiteGrayColor: #F5F5F5;
    --text-p-color5956:#595566;
    /* ///////// */
    

}

/* ///////////// */
html {
    font-size: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cabin", 'Lato',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;

}

.container {
    max-width: 120rem;
    margin: 0 auto;
}
/* ///////////////////////////////// */
.header_social {
    display: block;
    height: 5.8rem;
    width: 100%;
    background: var(--black);
    padding-top: 1.8rem;
  
}
.header_social_wrapper {
    display: flex;
    justify-content: space-between;
}
.clock, .cart {
    height: 100%;
    color: var(--whiteGrayColor);
    display: flex;
    align-items: center;
    
}
.social a {
    margin-left: 2.5rem;

}
/* header_menu  header_menu */
.header_menu {
    height: 14rem;
    background: rgba(27, 27, 27, 0.91);
    backdrop-filter: blur(10.5px);
}
.header_menu_wrapper {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    z-index: 3;
}

.logo {
    display: inline-block;
    font-size: 3rem;
    color: var(--whiteColor);
}
.nav {
    display: block;
    
}
.navigation_list  {
    position: relative;
    margin-left: 10.5rem;
    max-width: 57.6rem;
    height: 2.8rem;
    display: flex;
    list-style-type: none;

}
.navigation_list a {
    display: inline-block;
    margin-left: 3.2rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--whiteColor);
    transition: .4s all;

}
.navigation_list li a::before {
    content: " ";
    position: absolute;
    top: 0.6rem;
    margin-left: -1.8rem;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--greenColor);
    opacity: 0;
    border-radius: 100%;
    transition: .5s all;
}

.navigation_list a:hover {
    color: var(--greenColor);
}
.navigation_list li a:hover::before{
    
    opacity: 1;
    color: var(--greenColor);
}

.tel {
    display: flex;
    margin-left: 10.5rem;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-top: 0.4rem;
    width: 24.4rem;
    height: 6rem;
    background-color: var(--whiteColor);
    border-radius: 4.2rem;
}

.tel  a {
    position: relative;
    display: inline-block;
    margin-left: 1.1rem;
    text-decoration: none;
    color: var(--black);
    font-size: 1.8rem;
    
}


/* header_photo_bg header_photo_bg */

.header_photo_bg {
    
    min-height: 82rem;
    background: url('../bg/bg1.png') center center/cover no-repeat;
}
.container{
    position: relative;
}
.left_cart {
    width: 55.1rem;
    min-height: 39.5rem;
    position: absolute;
    top: 20rem;
    left: -15.7rem;
    padding: 5.5rem 5.8rem;
    
    border-radius: 2.9rem;
    background: rgba(255, 255, 255, 0.85);
}
.left_cart h4, .text-p {
    margin-bottom: 1.9rem;
}
.text-p {
    color: var(--text-p-color5956);
    font-family: Lato;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    margin-bottom: 1.8rem;

}
.butons_cart {
    display: flex;
    align-items: center;
    padding-top: 1.8rem;
}
.service {
    display: flex;
    padding: 1.6rem 3.3rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 4.2rem;
    background: #181818;
 
}

.meting {
    display: flex;
    padding: 0.8rem 1rem;
    align-items: center;
    column-gap:  1.1rem;
    border-radius: 4.2rem;
    border: 1px solid #EBEBEB;
    background: #FFF;
    margin-left: 3.3rem;
}
/* brand */

.band {
    margin-top: 1rem;
    padding: 0 11.9rem 0 11.9rem;
    
}
.brand_wrapper {
    height: 89px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
   
}
.brand_item {
    margin-left: 132px;
}
.fortuna {
    background-color: var(--text-p-color5956);
    border-radius: 100%;
    text-align: center;
    padding: 1rem 1rem;
}

/* brand OFF  */


.about  {
    margin-top: 12.6rem;
    margin-bottom: 17.4rem;
}
.about-text {
    width: 42rem;

}
.about_wrapper {
    display: flex;
}
.about_us {
    white-space: nowrap;
    display: inline-block;
    padding: 0 1.2rem 0 1.2rem;
    gap: 1rem;
    background-color: var(--yellowColor);
    color: var(--black);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 2.2rem;
}
.about-text h5 {
    color: #181818;
    font-family: Cabin;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
    margin-bottom: 1.8rem;
}
.about-text span {
    display: inline-block;
    color: #181818;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 147.5%; /* 26.55px */
    margin-bottom: 1.1rem;
}
.about_number {
    display: flex;
}
.about_number-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 17rem;
    height: 9.4rem;
    border-radius: 1.5rem;
    background: #F6F6F6;
}
.number-flex {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}
.number-flex span {
    display: inline-block;
    margin-left: .7rem;
    color: var(--black);
    font-family: Cabin;
    font-size: 3rem;
    font-weight: 700;
    line-height: 116%; /* 34.8px */
}
.about_number-item h6 {
    color: var(--black);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 147.5%; /* 23.6px */
}
hr {
    display: inline-block;
    margin: 1.9rem 0 1.9rem 0 ;
    width: 86%;
}
.vertical {
    display: inline-block;
    width: 0.1rem;
    height: 9rem;
    margin: 0 1rem 0 1rem ;
}
/* about_wrapper-right  */
.about_wrapper-right {
    margin-left: 14.5rem;
}
.right_wrapper {
    position: relative;
}

.img_about img {
    border-radius: 2rem;
    z-index: 2;
}
.pattern img {
    position: absolute;
    top: 14rem;
    left: -8rem;
    z-index: -1;
}

.about_market {
    position: absolute;
    bottom: -1.8rem;
    left: -3.4rem;
    width: 24rem;
    height: 13.6rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: var(--whiteColor);
    box-shadow: -5px 22px 26px 0px rgba(95, 95, 95, 0.25);
}
.market-flex-inner_wrapper {
    position: relative;
}

.market-flex-inner_wrapper img {
    position: absolute;
}
.market-flex-inner_wrapper img:last-child{
    top: .9rem;
    left: .6rem;
}
.market-flex {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
}
.market-flex-text {
    padding: 0 0 4.4rem 12.4rem;
    margin-top: 2.5rem;
}
.about-text50 {
    position: absolute;
    top: 5.3rem;
    left: 4.8rem;
    color: var(--black);
    font-family: Cabin;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 116%; /* 30.16px */
}


/* about THE END  */


/* control  control  */
.control {
    display: block;
    min-height: 118.2rem;
    padding: 17rem 35.9rem;
    background: #EBEBEB;
    
}
.sectionGray {
    padding: 17rem 0;
    background: #F5F5F5;
}

.services {
   
    display: block;
    max-width: 12rem;
    padding: 0 1.6rem;
    margin: 0 auto;
    margin-bottom: .8rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    background: var(--greenColor);
    color: var(--whiteColor);
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
}
.services_text {
    display: block;
    margin: 0 auto;
    margin-bottom: 3.8rem;
    max-width: 77.1rem;
    color: var(--black);
    text-align: center;
    font-family: Cabin;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
}

.control_wrapper-item {
    max-width: 38.7rem;
    min-height: 32.4rem;
    padding: 4.9rem 4.7rem;
    border-radius: 2rem;
    background: #EBEBEB;
}
.control_wrapper-item img {
    display: block;
    margin-bottom: 2.4rem;

}
.control_wrapper-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    
}
.blockBlack {
    background: var(--black);
    
    
}
.blockBlack h4, .blockBlack p {
    color: var(--whiteColor);
} 
  /* <!-- конец Items --> */


  /* proccess  proccess */

  .proccess {
    padding-top: 15rem;
  }

  .proccess-text{
    display: flex;
    max-width: 12.7rem;
    padding: 0 1.5rem;
    gap: 1rem;
    margin-bottom: 1.6rem;
    border-radius: 2rem;
    background: var(--greenColor);
    color: var(--whiteColor);
    font-family: Lato;
    font-size: 1.6rem;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }
  .proccess-p {
    max-width: 48.7rem;
    margin-bottom: 4rem;
  }
  
  .p-num{
    max-width: 33.1rem;
  }
  .num{
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    font-size: 2.6rem;
    font-weight: 600;
    font-family: Cabin;
    line-height: 116%; /* 30.16px */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .num-text {
    margin-left: 1.6rem;
  }
  .numbers-item {
    display: flex;
    margin-bottom: 4rem;
}
  .numOne {
    background-color: var(--yellowColor);
    color: var(--black);
   
}
.numTwo{
    background-color: var(--greenColor);
    color: var(--whiteColor);
}
.numThree{
    background-color: var(--black);
    color: var(--whiteColor);
}