:root {
    --yellowColor: #FFCC4A;
    --greenColor: #4EAF4E;
    --black: #181818;
    --whiteColor: #FFFFFF;
    --whiteGrayColor: #F5F5F5;
    --text-p-color5956:#595566;
    /* ///////// */
    

}

/* ///////////// */
html {
    font-size: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cabin", 'Lato',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;

}

.container {
    max-width: 120rem;
    margin: 0 auto;
}
/* ///////////////////////////////// */
.header_social {
    display: block;
    height: 5.8rem;
    width: 100%;
    background: var(--black);
    padding-top: 1.8rem;
  
}
.header_social_wrapper {
    display: flex;
    justify-content: space-between;
}
.clock, .cart {
    height: 100%;
    color: var(--whiteGrayColor);
    display: flex;
    align-items: center;
    
}
.social a {
    margin-left: 2.5rem;

}
/* header_menu  header_menu */
.header_menu {
    height: 14rem;
    background: rgba(27, 27, 27, 0.91);
}
.header_menu_wrapper {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    z-index: 3;
}

.logo {
    display: inline-block;
    font-size: 3rem;
    color: var(--whiteColor);
}
.nav {
    display: block;
    
}
.navigation_list  {
    position: relative;
    margin-left: 10.5rem;
    max-width: 57.6rem;
    height: 2.8rem;
    display: flex;
    list-style-type: none;

}
.navigation_list a {
    display: inline-block;
    margin-left: 3.2rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--whiteColor);
    transition: .4s all;

}
.navigation_list li a::before {
    content: " ";
    position: absolute;
    top: 0.6rem;
    margin-left: -1.8rem;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--greenColor);
    opacity: 0;
    border-radius: 100%;
    transition: .5s all;
}

.navigation_list a:hover {
    color: var(--greenColor);
}
.navigation_list li a:hover::before{
    
    opacity: 1;
    color: var(--greenColor);
}

.tel {
    display: flex;
    margin-left: 10.5rem;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-top: 0.4rem;
    width: 24.4rem;
    height: 6rem;
    background-color: var(--whiteColor);
    border-radius: 4.2rem;
}

.tel  a {
    position: relative;
    display: inline-block;
    margin-left: 1.1rem;
    text-decoration: none;
    color: var(--black);
    font-size: 1.8rem;
    
}


/* header_photo_bg header_photo_bg */

.header_photo_bg {
    
    min-height: 82rem;
    background: url('../bg/bg1.png') center center/cover no-repeat;
}
.container{
    position: relative;
}
.left_cart {
    width: 55.1rem;
    min-height: 39.5rem;
    position: absolute;
    top: 20rem;
    left: -15.7rem;
    padding: 5.5rem 5.8rem;
    
    border-radius: 2.9rem;
    background: rgba(255, 255, 255, 0.85);
}
.left_cart h4, .text-p {
    margin-bottom: 1.9rem;
}
.text-p {
    color: var(--text-p-color5956);
    font-family: Lato;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    margin-bottom: 1.8rem;

}
.butons_cart {
    display: flex;
    align-items: center;
    padding-top: 1.8rem;
}
.service {
    display: flex;
    padding: 1.6rem 3.3rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 4.2rem;
    background: #181818;
 
}


.meting {
    display: flex;
    padding: 0.8rem 1rem;
    align-items: center;
    column-gap:  1.1rem;
    border-radius: 4.2rem;
    border: 1px solid #EBEBEB;
    background: #FFF;
    margin-left: 3.3rem;
}
/* brand */

.band {
    margin-top: 1rem;
    padding: 0 11.9rem 0 11.9rem;
    
}
.brand_wrapper {
    height: 89px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
   
}
.brand_item {
    margin-left: 132px;
}
.fortuna {
    background-color: var(--text-p-color5956);
    border-radius: 100%;
    text-align: center;
    padding: 1rem 1rem;
}

/* brand OFF  */


.about  {
    margin-top: 12.6rem;
    margin-bottom: 17.4rem;
}
.about-text {
    width: 42rem;

}
.about_wrapper {
    display: flex;
}
.about_us {
    white-space: nowrap;
    display: inline-block;
    padding: 0 1.2rem 0 1.2rem;
    gap: 1rem;
    background-color: var(--yellowColor);
    color: var(--black);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 2.2rem;
}
.about-text h5 {
    color: #181818;
    font-family: Cabin;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
    margin-bottom: 1.8rem;
}
.about-text span {
    display: inline-block;
    color: #181818;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 147.5%; /* 26.55px */
    margin-bottom: 1.1rem;
}
.about_number {
    display: flex;
}
.about_number-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 17rem;
    height: 9.4rem;
    border-radius: 1.5rem;
    background: #F6F6F6;
}
.number-flex {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}
.number-flex span {
    display: inline-block;
    margin-left: .7rem;
    color: var(--black);
    font-family: Cabin;
    font-size: 3rem;
    font-weight: 700;
    line-height: 116%; /* 34.8px */
}
.about_number-item h6 {
    color: var(--black);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 147.5%; /* 23.6px */
}
hr {
    display: inline-block;
    margin: 1.9rem 0 1.9rem 0 ;
    width: 86%;
}
.vertical {
    display: inline-block;
    width: 0.1rem;
    height: 9rem;
    margin: 0 1rem 0 1rem ;
}
/* about_wrapper-right  */
.about_wrapper-right {
    margin-left: 14.5rem;
}
.right_wrapper {
    position: relative;
}

.img_about img {
    border-radius: 2rem;
    z-index: 2;
}
.pattern img {
    position: absolute;
    top: 14rem;
    left: -8rem;
    z-index: -1;
}

.about_market {
    position: absolute;
    bottom: -1.8rem;
    left: -3.4rem;
    width: 24rem;
    height: 13.6rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: var(--whiteColor);
    box-shadow: -5px 22px 26px 0px rgba(95, 95, 95, 0.25);
}
.market-flex-inner_wrapper {
    position: relative;
}

.market-flex-inner_wrapper img {
    position: absolute;
}
.market-flex-inner_wrapper img:last-child{
    top: .9rem;
    left: .6rem;
}
.market-flex {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
}
.market-flex-text {
    padding: 0 0 4.4rem 12.4rem;
    margin-top: 2.5rem;
}
.about-text50 {
    position: absolute;
    top: 5.3rem;
    left: 4.8rem;
    color: var(--black);
    font-family: Cabin;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 116%; /* 30.16px */
}


/* about THE END  */


/* control  control  */
.control {
    display: block;
    min-height: 118.2rem;
    padding: 17rem 35.9rem;
    background: #EBEBEB;
    
}
.sectionGray {
    padding: 17rem 0;
    background: #F5F5F5;
}

.services {
   
    display: block;
    max-width: 12rem;
    padding: 0 1.6rem;
    margin: 0 auto;
    margin-bottom: .8rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    background: var(--greenColor);
    color: var(--whiteColor);
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
}
.services_text {
    display: block;
    margin: 0 auto;
    margin-bottom: 3.8rem;
    max-width: 77.1rem;
    color: var(--black);
    text-align: center;
    font-family: Cabin;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
}

.control_wrapper-item {
    max-width: 38.7rem;
    min-height: 32.4rem;
    padding: 4.9rem 4.7rem;
    border-radius: 2rem;
    background: #EBEBEB;
}
.control_wrapper-item img {
    display: block;
    margin-bottom: 2.4rem;

}
.control_wrapper-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    
}
.blockBlack {
    background: var(--black);
    
    
}
.blockBlack h4, .blockBlack p {
    color: var(--whiteColor);
} 
  /* <!-- конец Items --> */


  /* proccess  proccess */

  .proccess {
    padding-top: 15rem;
    margin-bottom: 15.2rem;
  }
  .proccess_wrapper {
    display: flex;

  }

  .proccess-text{
    display: flex;
    max-width: 12.7rem;
    padding: 0 1.5rem;
    gap: 1rem;
    margin-bottom: 1.6rem;
    border-radius: 2rem;
    background: var(--greenColor);
    color: var(--whiteColor);
    font-family: Lato;
    font-size: 1.6rem;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }
  .proccess-p {
    max-width: 48.7rem;
    margin-bottom: 8rem;
  }
  
  .p-num{
    max-width: 33.1rem;
  }
  .num{
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    font-size: 2.6rem;
    font-weight: 600;
    font-family: Cabin;
    line-height: 116%; /* 30.16px */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .num-text {
    margin-left: 1.6rem;
  }
  .three_numbers {
    position: relative;
  }
  .numbers-item {
    display: flex;
    margin-bottom: 4rem;
}
  .numOne {
    background-color: var(--yellowColor);
    color: var(--black);
   
}
.numTwo{
    background-color: var(--greenColor);
    color: var(--whiteColor);
}
.numThree{
    background-color: var(--black);
    color: var(--whiteColor);
}
.numbers-item::before {
    content: " ";
    width: 45.9rem;
    height: .1rem;
    background: #C1C1C1;
    position: absolute;
    
}
.numbers-item1::before {
    position: absolute;
    top: -2.5rem;
    left: 0;
}
.numbers-item2::before {
    position: absolute;
    top: 10.4rem;
    left: 0;
}
.numbers-item3::before {
    position: absolute;
    top: 24.9rem;
    left: 0;
}

/* proccess_right proccess_right */
.proccess_right {
    margin-left: 14.6rem;

}
.growing-text {
    display: inline-block;
    border-radius: 20px;
    background: #FFCC4A;
    padding: 0 10px;
    color: var(--black);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
}
.growing-p {
    max-width: 542.18px;
flex-shrink: 0;
    margin-bottom: 1.7rem;
}

.proccess_right-item {
    width: 27.9rem;
    height: 22.1rem;
    border-radius: 2rem;
    border: 1px solid #EAEAEA;
    background: #FAFAFA;
    padding: 3.3rem 2.3rem;
}

.proccess_right-item-inner img {
    display: inline-block;
    margin-bottom:2.2rem ;
}
.proccess_right-item-inner h5 {
    margin-bottom:1rem ;
    color: var(--black);
    font-family: Cabin;
    font-size: 2rem;
    font-weight: 600;
    line-height: 116%; /* 23.2px */
}
.proccess_right-wrapper {
    display: grid;
    gap: 1.7rem;
    grid-template-columns:  repeat(2, 1fr);
    grid-auto-rows: auto;
}


/* client client */
.client {
    height: 64.5rem;
    background: rgb(0, 0, 0) url('../client/vectorClient.svg') center center repeat-x;
}
.client-text, .gallery {
    display: inline-block;
    margin-top: 20.2rem;
}
.client-h5 {
    color: var(--whiteColor);
    max-width: 73.1rem;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
    margin-bottom: 4.5rem;
}
.gallery {
    white-space: nowrap;
    max-height: 6.1rem;
    padding: 16px 32px;
    border-radius: 42px;
    background: var(--yellowColor);
    color: var(--black);
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    outline: none;
    transition: all .4s;
    margin-left: 30rem;
}
.gallery:hover {
    background: var(--black);
    color: var(--whiteColor);
}
.client .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .client_wrapper   .client_wrapper */
.client_wrapper {
    padding: 2.5rem;
    width: 120rem;
    height: 76.3rem;
    background-color: var(--whiteGrayColor);
    border-radius: 30px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
   

}

.client_wrapper-item{
    width: 366px;
    height: 344px;
    border-radius: 30px;
    background: url('../client/Photo2.png') center no-repeat;
    
}

/* ////  start */
.client_wrapper-item1 {
    position: relative;
    width: 366px;
    height: 344px;
    border-radius: 30px;
    background: url('../client/Photo.png') center no-repeat;
}
.client_wrapper-item2 {
    width: 366px;
    height: 344px;
    border-radius: 30px;
    background: url('../client/Photo1.png') center no-repeat;
}

.client_wrapper-item3 {
    width: 366px;
    height: 344px;
    border-radius: 30px;
    background: url('../client/Photo2.png') center no-repeat;
}

.client_wrapper-item4 {
    width: 366px;
    height: 344px;
    border-radius: 30px;
    background: url('../client/Photo3.png') center no-repeat;
}

.client_wrapper-item5 {
    width: 366px;
    height: 344px;
    border-radius: 30px;
    background: url('../client/Photo4.png') center no-repeat;
}

.client_wrapper-item6 {
    width: 366px;
    height: 344px;
    border-radius: 30px;
    background: url('../client/Photo.png') center no-repeat;
}
/*                        
Photo OFF */
.client-bottom-text{
   
    display: inline-block;
    margin-top: 260px;
    margin-left: 10px;
   
}
.client-bottom-text h5 {
    color: #FFF;
    font-family: Cabin;
    font-size: 25px;
    font-weight: 600;
    line-height: 116%; /* 29px */
}   
.client-bottom-text span{
    color: #FFCC4A;
    font-family: Lato;

    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
}
 
.client_wrapper-item:hover {
    fill: rgba(24, 24, 24, 0.75);
    background-blend-mode: multiply;
    background: blur(4px);
}

/* ////////////////////// */

/* number"   number" */

.number{
    margin-top: 55.5rem;
    margin-bottom: 14.6rem;
}
.number_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-item span {
    color: var(--black);
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    line-height: 116%; /* 20.88px */
}
/* "feedback" "feedback" */

.feedbackButton {
    white-space: nowrap;
    max-width: 20.5rem;
    margin: 0 auto;
    margin-bottom: 2.3rem;
}
.feedback-text {
    margin: 0 auto;
    margin-bottom: 2.3rem;
    max-width: 62.6rem;
    color: #CECECE;
    text-align: center;
    font-family: Cabin;
    font-size: 4rem;
    font-weight: 700;
    line-height: 116%; /* 46.4px */
}
.feedback-text span {
    color: var(--black);
    font-size: 4rem;
    font-weight: 700;

}

/* .slider */


.slide {
    width: 56rem;
    height: 37.3rem;
    margin: 0 auto;
}
.slider-list {
    display: flex;
    position: relative;
}
.slide-text{
    text-align: center;
}
.slide-text img {
    margin-bottom: 2.7rem;
    border-radius: 100%;

}
.slide-text h5 {
    color: var(--black);
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 23.2px */
    margin-bottom: .7rem;
}
.slide-text span {
    color: var(--greenColor);
    font-weight: 600;
    line-height: 147.5%; /* 23.6px */
}
.slider-arrows {
    position: relative;
}
.prev, .next {
    width: 125px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 42px;
    background: #F3F3F3;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;

}  
.prev img, .next img {
    padding: 10px;
} 
.prev{
    position: absolute;
    top: -287px;
    left: 160px;
}
.next {
    position: absolute;
    top: -287px;
    left: 906px;
}
    /* .better  */


.better {
    padding: 0 51px 0 90px;
    background-color: var(--black);
    border-radius: 30px;
    height: 52.5rem;
    margin-bottom: 16.9rem;
    outline: none;
}
.better_wrapper{
    display: flex;
}
.better-text {
    padding: 115px 0   114px 0;
    color: var(--whiteColor);
    max-width: 420px;
}
.book {
    max-width: 139px;
    padding: 0 15px;
    white-space: nowrap;
    margin-bottom: 15px;
}

.better-text p {
    font-family: Cabin;
    font-size: 45px;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
    margin-bottom: 8px;
}
.better-text span {
    color: #727272;
    font-family: Cabin;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
}

.div{
   
    font-family: Lato;
    line-height: 147.5%; /* 23.6px */
    font-weight: 400;
    margin-bottom: 21px;

}

.phone-number {
    max-width: 193px;
    display: flex;
    align-items: center;
    border-radius: 42px;
    background: #FFCC4A;
    padding: 16px 21px;
}
.phone-number a {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    margin-left: 10px;
}

.better-right {
    margin-left: 120px;
}



.better-right-wrapper {
    display: flex;
    position: relative;
}


.img-rel {
    position: absolute;
   top: 135px;
   
}
.img-rel img:first-child{
    border-radius: 17px;
}
.yellow{
    position: absolute;
    top: 4px;
    left: 292px;
    flex-shrink: 0;
    opacity: .9; 
   
}
.yellow img {
    border-radius: 17px;
}
.pattern-svg {
    position: absolute;
    top: 70px;
    left: -70px;
}
.green {
    display: block;
    position: absolute;
    top: 90px;
    left: -50px;
    width: 130px;
    height: 145px;
    background-color: var(--greenColor);
    border-radius: 17px;
}
/* take"  take" */


.take {
    background-color: var(--whiteGrayColor);
    padding: 178px 308px;
}
.blog {
    display: inline-block;
    max-width: 74px;
    padding: 0 12px;
    margin-bottom: 6px;
}

.take-text {
    max-width: 50.7rem;

    font-weight: 700;
    line-height: 116%; /* 52.2px */
}
.take-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.take_wrapper  {
    display: flex;
    column-gap: 36px;
}
.take-btn {
    display: inline-block;
    max-width: 167px;
    height: 61px;
    padding: 16px 37px;
    background-color: var(--yellowColor);
    color: var(--black);
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    transition: all .4s;
}
.take-flex a:hover {
    background-color: var(--black);
    color: var(--whiteColor);
}
.take-item img {
    border-radius: 25px;
    margin-bottom: 20px;
}
.item-text {
    max-width: 561px;

}
.data {
   width: 561px;
}
.data hr {
    width: 100%;
}
.data-descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

}
.data-descr img{
    border-radius: 100%;

}
.descr-flex {
    display: flex;
    align-items: center;
 
}
.descr-flex div {
    margin: 0 5px;
}
.img {
   padding-top: 12px;
}
.read {
    white-space: nowrap;
    max-width: 167px;
    height: 61px;
    padding: 16px 40px;
    background: var(--black);
    color: var(--whiteColor);
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
}
.read:hover {
    background: var(--whiteColor);
    color: var(--black);
    
}

/* contact{ contact{  */
.contact{
    
    padding: 150px 0;
}


contact div{
    margin-bottom: 0.7rem;

}
.contact-text {
    max-width: 40rem;
    margin-bottom: 3.8rem;
}

/* contact_icons       contact_icons */

.contact-img img {
    width: 52px;
    height: 52px;

}
.contact-item {
    max-width: 330px;
    display: flex;
    align-items: center;
    margin-bottom: 5.6rem;
}
.contact-item-text{
    padding-left: 1.6rem;
    text-align: left;
}
.contact-p {
    color: #595566;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    margin: 0 .4rem;
}

/* ///////////// */
.contact-right {
    margin-left: 9.1rem;
    position: absolute;
    top: 170px;
    left: 458px;
}
form {
    display: flex;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
}
.form-right {
    margin-left: 24px;
}

input {
    display: inline-block;
    width: 318px;
    padding: 22px 33px 22px 33px ;
    color: #A9A9A9;
    font-family: Lato;
    margin-bottom: 28px;
    border-radius: 54px;
    border: 1px solid #C1C1C1;
    background: #FFF;
    line-height: 147.5%; /* 23.6px */
}
.textarea {
    max-width: 666px;
    
}
label{
    margin-bottom: 8px;
}
#textarea{
    margin-top: 8px;
}
textarea {
    padding: 22px 33px 0 33px;
    margin-bottom: 2.8rem;
    border-radius: 22px;
    border: 1px solid #C1C1C1;
    background: #FFF;
}
.contactLink {
   
    max-width: 168px;
    height: 61px;
    padding: 0 32px;
    white-space: nowrap;
    border-radius: 42px;
    background: var(--black);
    color: var(--whiteColor);
    border: none;
}